.goodsdetail .header {
  line-height: 0.9rem;
  background-color: orange;
  color: #fff;
  font-size: 0.4rem;
  text-align: center;
}
.goodsdetail .header span {
  float: left;
  padding-left: 0.2rem;
}
.goodsdetail .main .topimg {
  height: 4rem;
  overflow: hidden;
  border-bottom: 2px solid rgba(185, 184, 184, 0.781);
}
.goodsdetail .main .topimg img {
  width: 100%;
}
.goodsdetail .main .line1 {
  display: flex;
  padding: 0.1rem 0.3rem;
}
.goodsdetail .main .line1 h3 {
  flex-grow: 1;
  font-size: 0.35rem;
}
.goodsdetail .main .line1 div {
  text-align: center;
  color: red;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 0.2rem;
}
.goodsdetail .main .line1 img {
  width: 0.2rem;
}
.goodsdetail .main .line2 {
  padding: 0.1rem 0.3rem 0 0.3rem;
}
.goodsdetail .main .line2 span {
  color: red;
  font-size: 0.3rem;
  margin-right: 0.2rem;
}
.goodsdetail .main .line2 em {
  display: inline-block;
  border: 1px solid orange;
  color: orange;
  padding: 0.05rem;
  font-size: 0.2rem;
  margin-right: 0.1rem;
}
.goodsdetail .main .line3 {
  padding: 0 0.3rem 0.3rem 0.3rem;
  text-decoration: line-through;
  color: #666;
}
.goodsdetail .footer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
}
.goodsdetail .footer .right {
  height: 1rem;
  background-color: orange;
  color: #fff;
  line-height: 1rem;
  font-size: 0.3rem;
  padding: 0 0.2rem;
  float: right;
}
.goodsdetail .car {
  width: 100vw;
  height: 100vh;
  background-color: rgba(102, 102, 102, 0.452);
  position: fixed;
  top: 0;
  left: 0;
}
.goodsdetail .car .cartFooter {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  padding: 0.3rem;
  width: 100%;
}
.goodsdetail .car .cartFooter .fline1 {
  overflow: hidden;
}
.goodsdetail .car .cartFooter .fline1 .left {
  float: left;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 0.2rem;
  overflow: hidden;
}
.goodsdetail .car .cartFooter .fline1 .left img {
  width: 2.5rem;
  height: 2.5rem;
}
.goodsdetail .car .cartFooter .fline1 .right {
  float: left;
  padding-left: 0.3rem;
}
.goodsdetail .car .cartFooter .fline1 .right h3 {
  font-size: 0.4rem;
}
.goodsdetail .car .cartFooter .fline2 h2 {
  font-size: 0.4rem;
  font-weight: 700;
  line-height: 3;
}
.goodsdetail .car .cartFooter .fline2 .specs {
  display: inline-block;
  border: 1px solid #999999;
  color: #999;
  padding: 0.18rem 0.3rem;
  border-radius: 0.1rem;
  font-size: 0.25rem;
  margin: 0 0.18rem;
}
.goodsdetail .car .cartFooter .fline2 .active {
  border: 1px solid orange;
  color: orange;
}
.goodsdetail .car .cartFooter .fline3 {
  text-align: center;
  margin-top: 0.3rem;
  padding-bottom: 1.5rem;
}
.goodsdetail .car .cartFooter .fline3 .cart {
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
  background-color: orange;
  color: #fff;
  font-size: 0.3rem;
  padding: 0 0.3rem;
  border-radius: 0.1rem;
}
