.header {
  line-height: 1.2rem;
  background-color: white;
}
.header input {
  border-radius: 0.3rem;
  background-color: #b4b3b3;
  height: 0.5rem;
  width: 1.6rem;
  padding-left: 0.4rem;
  margin-left: 1.2rem;
}
.header img {
  vertical-align: middle;
  margin-left: 0.1rem;
}
